.formproblem {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    min-width: 300px;
    padding: 20px;
}
.inputProblem {
    width:400px;
    max-width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    margin-top: 3rem;
}

.btnStyle {
    width: 15%;
    padding: 10px;
    border-radius: 15px;
        min-width: 150px
}

@media (max-width:700px){
    .inputProblem{
        width: 80vw;
        margin: 0 auto;
    }
}